@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "outfit", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.app-light {
    min-height: 100vh;
    --body-background: white;
    --body-color: #000;
    --box-border: #000;
    --table-body-background: white;
    --chart-body: grey;
    --sidemenu-border: #000;
    --table-border: #000;
}

.app-dark {
    min-height: 100vh;
    background: #1A3636;
    color: white;
    --body-color: white;
    --body-background: #1A3636;
    --table-border: white;
    --table-body-background: linear-gradient(rgba(0, 100, 0, 0.5), rgba(84, 3, 255, 0.15));
}